/*Formatação para caracteres acentuados*/
@charset "utf-8";
/*Estilos para o body*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('maps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*estilos para o h2*/
h2{
    text-align: center;
    color: #fff;
    text-shadow: 3px;
}

/*Estilização*/
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*personaliza o label*/
label {
    display: block;
    margin-bottom: 10px;
}

/*estilização do campo input do cep*/
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/*estilização do botão de consulta à api*/
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

/*quando o mouse passar sobre o botão*/
button:hover {
    background-color: #0056b3;
}

/*Estilização do card que mostra as informações*/
#addressInfo {
    margin: auto;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
